# Data Science Tools and Ecosystem

## Author

Jinna Harshith Reddy

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Item 2
- Item 3

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. Java

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Sci-kit
3. Tensorflow

Data Science Tools

| Data Science Tools| 
|----------|
| Jupyter Notebooks  |
| RStudio |
| Spyder|

Below are a few examples of evaluating arithmetic expressions in Python.

**This a simple arithmetic expression to mutiply then add integers**

In [11]:
(3*4)+5

17

**This will convert 200 minutes to hours by diving by 60**

In [14]:
time = 200 
hours = time/60
print (hours)

3.3333333333333335